/* Reseteo básico de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}
.container_1
{
    text-align: left;
    margin: auto;
    overflow: hidden;
    align-items: center;
}
.img_container
{
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
.imagen_esp8266
{
    max-width: 30%;
    max-height: 30%;
    text-align: center;
}
#imagen_mq135
{
    max-width: 30%;
    max-height: 30%;
    text-align: center;
}
#imagen_adafruit
{
    max-width: 30%;
    max-height: 30%;
    text-align: center;
}
#imagen_mqtt
{
    max-width: 30%;
    max-height: 30%;
    text-align: center;
}
.mis_proyectos
{
    margin-left: 20px;
    text-decoration: underline;
    padding: 10px 0px;
}
.container {
    text-align: left;
    margin: auto;
    overflow: hidden;
    align-items: center;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    max-height: 70px;
}
.logo
{
    max-width: 25px;
    float:left;
    margin: 0px 10px;
    border: 1px solid whitesmoke;
    border-radius: 90%;
}
header h1 {
    float: left;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    float: right;
    margin-right: 30px;
    margin-top: 15px;
}

nav ul li {
    display: inline;
    margin-left: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: underline;
}

main {
    background: #fff;
    padding: 50px 300px;
}

.post {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background: #f9f9f9;
}

.post p
{
    text-align: justify;
}

.post h2 {
    margin-bottom: 10px;
}

.post .date {
    font-size: 0.8em;
    color: #777;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
