* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info
{
    background-color: #ffffff;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.misdatos{
    text-align: center;
    font-size: large;
    border: 3px solid #ddd;
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
    padding: 10% 5%;
}
.mi_foto1{
    max-width: 200px;
    border:2px solid black;
}
.mi_info
{
    text-align: justify;
    font-size: 30px;
    font-weight: 500;
}